*
{
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 60px;
    margin-top:5px;
    margin-bottom: 52px;
    background-color: #000;
    color: #ccc;
    font-family: arial;
    text-align: center;
}
table
{
    width:70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table,th,td
{
    border: 2px solid #004b49;
}
th, td
{
    padding: 10px;
}
td
{
    text-align: center;
}
#row1,#row2
{
    background-color: #0a7e8c;
    color:#fff;
}
#row1
{
    font-size: 28px;

}
#row2
{
    font-size: 25px;
}
#row3,#row4
{
    font-size: 23px;
    color:#fff;
}
#row3
{
    background-color: #838996;
}
#row4
{
    background-color: #acacac;
}
tr:nth-child(even)
{
   background-color: #eee; 
}
tr:nth-child(odd)
{
    background-color: #fff;
}